[submodule "packages/core"]
	path = packages/core
	url = https://github.com/PooRPooR0/core-module
	branch = .
[submodule "packages/custom-module"]
	path = packages/custom-module
	url = https://github.com/PooRPooR0/custom-module.git
	branch = .
